* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Style */

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    cursor: pointer;
    border: 2px solid #ced7dc80;
}

.color-green {
    color: #30B868;
}

.card-container .card h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 16px;
    color: #001931;
}

.card-container .card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* Main Style */

header {
    background-color: #FFFFFF;
}

nav {
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    padding: 16PX 120PX;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    gap: 32px;
    list-style-type: none;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.menu li:hover{
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: lightgray;
}

#hero {
    position: relative;
    /* height: 674px; */
    background: url("../assets/hero-bg.png") center/cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 40px; */
}

#hero .hero-content {
    padding: 115px 120px 179px;
    /* position: relative; */
    max-width: 1360px;
}

.frame {
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    background: white;
    color: #469165;
    align-items: center;
    gap: 7px;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
}

.frame .frame-dot {
    width: 8px;
    height: 8px;
    background: #469165;
    border-radius: 50%;
    box-shadow: 0 0 6px #469165;
}

#hero .hero-content h1 {
    font-size: 64px;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 16px;
}

#hero .hero-content p {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    width: 770px;
    margin-bottom: 32px;

}

.hero-content .button {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hero-content .button .second-btn {
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #5b697dc6;
    border-radius: 5px;
    color: white;
    padding: 16px;
    background: transparent;
}

.hero-content .button .second-btn:hover {
    cursor: pointer;
    border-color: #22c55e;
    color: #22c55e;
}

#card-section {
    /* border: 1px solid red; */
    text-align: center;
    padding: 70px 120px 0;
}

#card-section .container h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
    line-height: auto;
}

#card-section .container p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.card-container {
    width: 85%;
    display: flex;
    margin: 0 auto;

    gap: 24px;

}

.card-container .card {
    width: 320px;
    gap: 24px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 0 0 8px 0 #6863636e;
    align-items: center;

}

.card:hover {
    cursor: pointer;
    border: 2px solid #ced7dc80;
}

.card-container .card img {
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
    margin-bottom: 16px;
}

#solution-section .solution {
    width: 85%;
    display: flex;
    margin: 0 auto;
    padding: 120px;
    align-items: center;
    gap: 60px;
}

#solution-section .solution .image {
    width: 600px;
    height: 600px;
}

.solution .sn-content h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width: 700px;
    color: #469165;
    margin-bottom: 16px;
}

.solution .sn-content h2 {
    font-size: 48px;
    font-weight: bold;
    width: 700px;
    color: #001931;
    margin-bottom: 16px;
}

.solution .sn-content p {
    font-size: 16px;
    line-height: 20px;
    width: 700px;
    color: #627382;
    margin-bottom: 40px;
}

.solution .sn-content .options {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
}

.solution .sn-content .options li {
    margin-bottom: 16px;
}

#cta-section {
    padding: 120px 40px;
    display: flex;
    justify-content: center;
}

.cta-box {
    background: #F7F6F2;
    max-width: 1360px;
    width: 85%;
    margin: 2px 120px 120px 120px;
    padding: 80px 40px;
    border-radius: 12px;
    text-align: center;
}

.cta-box h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

.text {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}

.text-note {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
}

#footer {
    background-color: #001931;
    padding: 120px 120px 30px;
}

#footer .footer-top {
    display: flex;
    width: 85%;
    max-width: 1360px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-top .social {
    text-align: left;
}

.footer-top .social p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    padding: 0 107px 0 0;
    margin-bottom: 16px;
}

.social .icons {
    display: flex;
    gap: 16px;
}

.social .icons a {
    width: 20px;
    height: 20px;
    background: white;
    color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 900;
}

.icons a:hover {
    cursor: pointer;
    border: 2px solid rgba(206, 215, 220, 0.503)
}

#footer hr {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    height: 1px;
    margin-bottom: 30px;
    border: 1px solid #627382;
}

#footer .footer-bottom{
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-align: center;
    margin-bottom: 30px;
}